{% comment %}Reusable floating multi-select action bar.{% endcomment %}
<div class="ul-bulk-bar" id="ul-bulk-bar-{{ namespace }}" aria-live="polite">
    <span class="ul-bulk-count"></span>
    <span class="ul-bulk-sep"></span>
    {% if date_field %}
    <input type="date" class="ul-bulk-date" data-bulk-date aria-label="Date to apply"
           value="{{ date_value }}" max="{{ date_max }}">
    {% endif %}
    {% for item in actions %}
    <button type="button" class="ul-bulk-btn ul-bulk-btn--{{ item.action }}" data-bulk-action="{{ item.action }}" title="{{ item.label }}" hidden>
        <i class="material-symbols-outlined">{{ item.icon }}</i>
        <span>{{ item.label }}</span>
    </button>
    {% endfor %}
    <button type="button" class="ul-bulk-btn ul-bulk-btn--deselect" data-bulk-action="deselect" title="Deselect all" hidden>
        <i class="material-symbols-outlined">close</i>
    </button>
</div>
