/*******************************************************************************
 *                                                                             *
 * Metadata:                                                                   *
 *                                                                             *
 * 	File: style.scss                                                           *
 * 	Project: rita                                                              *
 * 	Created: 02 Oct 2023                                                       *
 * 	Author: Jess Mann                                                          *
 * 	Email: jess.a.mann@gmail.com                                               *
 *                                                                             *
 * 	-----                                                                      *
 *                                                                             *
 * 	Last Modified: Mon Oct 02 2023                                             *
 * 	Modified By: Jess Mann                                                     *
 *                                                                             *
 * 	-----                                                                      *
 *                                                                             *
 * 	Copyright (c) 2023 Jess Mann                                               *
 *******************************************************************************/
@use '@material/theme/color-palette';

$background: #fff;

@use '@material/theme/index' as theme with ($primary: color-palette.$purple-500,
	$secondary: color-palette.$teal-600,
	$surface: #fff,
	$background: $background,
	$error: #b00020);

html,
body {
	background-color: $background;
	color: if(theme.contrast-tone($background)=='dark', #000, #fff);
}

a {
	color: color-palette.$blue-500;
}

a:visited {
	color: color-palette.$blue-800;
}

body {
	main {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}
}

header {
	background-color: material-color('blue', 'darken-3');
	padding: 20px 0;

	nav {
		.nav-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.brand-logo {
				font-weight: bold;
				color: white;
				font-size: 1.5em;
				text-decoration: none;
			}

			ul {
				display: flex;
				justify-content: space-between;
				align-items: center;

				li {
					margin-right: 20px;

					a {
						color: white;
						text-decoration: none;
						display: flex;
						align-items: center;

						.material-icons {
							margin-right: 10px;
						}
					}
				}
			}

			.sidenav-trigger {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	header nav .nav-wrapper {
		flex-direction: column;

		.brand-logo {
			margin-bottom: 20px;
		}

		ul {
			flex-direction: column;

			li {
				margin-bottom: 20px;
			}
		}

		.sidenav-trigger {
			display: block;
			color: white;
			cursor: pointer;
		}
	}
}

footer {
	margin-top: 2em;
	position: relative;

	#template-mark {
		position: absolute;
		bottom: 1em;
		right: 1em;
		opacity: 0.4;
	}
}

.page-footer {
	a {
		color: #fff;
		text-decoration: underline;
	}

	.row {
		margin-bottom: 0;
	}
}

main {
	flex: 1 0 auto;
}

table {
	border: 1px solid #000;

	td {
		padding: 1em;
	}
}

thead,
tfoot {
	background: #333;
	color: #eee;
	font-weight: bold;
}


div.wide {
	margin: 2em;
	position: relative;
}

div.template-default {
	position: relative;
}

.head-icon i {
	font-size: 3em;
}