{% for label in labels %}
    {% url 'label.edit' label_kind=label_url_kind label_id=label.id as edit_url %}
    {% url 'label.delete' label_kind=label_url_kind label_id=label.id as delete_url %}
    {% if label.is_protected %}
        {% include 'dashboard/partials/labels/_organize_label_card.html' with kind=kind display_name=label.effective_name|default:label.name display_icon=label.effective_icon|default:label.icon display_color=label.effective_color|default:label.color empty_icon=empty_icon selectable=True select_class=select_class select_data_name=select_data_name editable=True deletable=False edit_url=edit_url merge_url='' edit_target=edit_target delete_url=delete_url rows_target=rows_target can_edit_global=can_edit_global %}
    {% elif kind == 'people' and not label.profile %}
        {% include 'dashboard/partials/labels/_organize_label_card.html' with kind=kind display_name=label.effective_name|default:label.name display_icon=label.effective_icon|default:label.icon display_color=label.effective_color|default:label.color empty_icon=empty_icon selectable=selectable select_class=select_class select_data_name=select_data_name editable=False deletable=False edit_url=edit_url merge_url='' edit_target=edit_target delete_url=delete_url rows_target=rows_target can_edit_global=can_edit_global %}
    {% elif kind == 'people' or kind == 'media' %}
        {% include 'dashboard/partials/labels/_organize_label_card.html' with kind=kind display_name=label.effective_name|default:label.name display_icon=label.effective_icon|default:label.icon display_color=label.effective_color|default:label.color empty_icon=empty_icon selectable=selectable select_class=select_class select_data_name=select_data_name editable=editable deletable=deletable edit_url=edit_url merge_url='' edit_target=edit_target delete_url=delete_url rows_target=rows_target can_edit_global=can_edit_global %}
    {% else %}
        {% url 'label.merge' label_kind=label_url_kind label_id=label.id as merge_url %}
        {% include 'dashboard/partials/labels/_organize_label_card.html' with kind=kind display_name=label.effective_name|default:label.name display_icon=label.effective_icon|default:label.icon display_color=label.effective_color|default:label.color empty_icon=empty_icon selectable=selectable select_class=select_class select_data_name=select_data_name editable=editable deletable=deletable edit_url=edit_url merge_url=merge_url edit_target=edit_target delete_url=delete_url rows_target=rows_target can_edit_global=can_edit_global %}
    {% endif %}
{% empty %}
<div class="tag-empty"><i class="material-icons">{{ empty_icon }}</i><p>{{ empty_message }}</p></div>
{% endfor %}
