<div class="organize-panel tag-page" id="panel-{{ tab }}" role="tabpanel" {% if active_tab != tab %}hidden{% endif %}>
    {% include 'dashboard/partials/badges/organize_badge_filter_bar.html' with ns=filter_ns filter_ns=filter_ns plural_lower=plural_lower %}
    {% include 'dashboard/partials/badges/organize_badge_create_dialog.html' with kind=kind ns=ns form_id=form_id singular_title=singular_title badge_url_kind=badge_url_kind rows_target=rows_target name_placeholder=name_placeholder desc_placeholder=desc_placeholder parent_items=parent_items %}
    <div id="{{ rows_id }}" class="organize-badge-rows">
        {% include 'dashboard/partials/badges/organize_badge_rows.html' with badges=badges badge_url_kind=badge_url_kind kind=kind empty_icon=empty_icon empty_message=empty_message select_class=select_class select_data_name=select_data_name selectable=selectable editable=editable deletable=deletable edit_target=edit_target|default:'#badge-edit-dialog-body' rows_target=rows_target %}
    </div>
    <div id="org-cross-tab-{{ ns }}" class="org-cross-tab-footer" hidden></div>
</div>
