{% comment %}Every panel of a pin's page that reads "child pin details", as out-of-band swaps; see PinController.child_details.{% endcomment %}
{% include "dashboard/partials/ui/_child_details_toggle.html" with oob=True %}
{% include "dashboard/partials/pins/child_details/_gallery.html" with oob=True %}
{% include "dashboard/partials/pins/child_details/_visits.html" with oob=True %}
{% include "dashboard/partials/pins/child_details/_albums.html" with oob=True %}
{% url 'pin.article.sources' pin.slug as sources_url %}
{% if include_children %}
{% include "dashboard/partials/articles/_article_sources_list.html" with sources_url=sources_url oob=True %}
{% else %}
{% include "dashboard/partials/articles/_article_sources_list.html" with sources_url=sources_url|add:"?children=0" oob=True %}
{% endif %}
{% include "dashboard/partials/pins/child_details/_comments.html" with oob=True %}
