// Define primary and primary colors based on material design color palette
$primary-color: #2196F3;
$secondary-color: #FFC107;
$dark-neutral-color: #424242;
$light-neutral-color: #FAFAFA;
$inactive-button-color: #424242;


.nav-wrapper {
    // Material dark grey
    background-color: $dark-neutral-color;
}

.page-footer {
    background-color: $dark-neutral-color;
}

div.container {
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 60px - 60px); /* Adjust the height of the container to be 100% of the viewport height minus the header and footer heights */
    display: flex; 
    flex-direction: column; 
}

#map {
    flex-grow: 1; /* Allow the map to grow to fill available space */
    width: 100%;
}

footer {
    height: 60px;
}
.map-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.map-button {
    background-color: $light-neutral-color;
    opacity: 0.8;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.map-button:hover {
    opacity: 1;
}
nav .brand-logo {
    padding: 0.25rem;

    img {
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%; 
        overflow: hidden; 
    }
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    z-index: 1001;
}
.file-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: $inactive-button-color;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-button:hover {
    background-color: $primary-color;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: $inactive-button-color;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: $primary-color;
}
/* Styles for custom icon dropdown */
.icon-dropdown {
    display: none;
}

.icon-dropdown-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 10px;
}

.icon-dropdown-display label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.icon-dropdown-display .material-icons {
    font-size: 24px;
}

select#icon {
    display: block;
}