div.container {
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 60px - 60px); /* Adjust the height of the container to be 100% of the viewport height minus the header and footer heights */
    display: flex; /* Add flex display to the container */
    flex-direction: column; /* Make the container's main axis vertical */
}

#map {
    flex-grow: 1; /* Allow the map to grow to fill available space */
    width: 100%;
}

footer {
    height: 60px; /* Set a fixed height for the footer */
}
.map-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.map-button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.map-button:hover {
    background-color: white;
    color: black;
}
nav .brand-logo {
    padding: 0.25rem;

    img {
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%; 
        overflow: hidden; 
    }
}