
.nav-wrapper {
    // Material dark grey
    background-color: #424242;
}

.page-footer {
    background-color: #424242
}

div.container {
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 60px - 60px); /* Adjust the height of the container to be 100% of the viewport height minus the header and footer heights */
    display: flex; 
    flex-direction: column; 
}

#map {
    flex-grow: 1; /* Allow the map to grow to fill available space */
    width: 100%;
}

footer {
    height: 60px;
}
.map-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.map-button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.map-button:hover {
    background-color: white;
    color: black;
}
nav .brand-logo {
    padding: 0.25rem;

    img {
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%; 
        overflow: hidden; 
    }
}.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    z-index: 1001;
}
.file-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-button:hover {
    background-color: #45a049;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #008CBA;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #007B9E;
}
