Django
djangofoundry
django-cors-headers
django-auto-prefetch
django-dirtyfields
django-filter
django-pandas
django-postgres-extra
djangorestframework
django_extensions
django-debug-toolbar
humanize
model-bakery
orjson
pandas
python-dateutil
python-decouple
PyYAML
requests
setuptools
simplejson
typing_extensions
dateparser
prospector
pytest-django
coverage
python-dotenv
jinja2
whitenoise
tqdm
sqlalchemy
redis
channels
rich
psycopg2-binary
django-picklefield
statsmodels
sphinx
fastkml
geopandas
shapely