<!DOCTYPE html>
<html>
<head>
    <title>Add Pin</title>
</head>
<body>
    <form method="POST" hx-post="{% url 'add_pin' %}" hx-trigger="submit" hx-target="#map" hx-swap="outerHTML">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description"><br>
        <label for="latitude">Latitude:</label><br>
        <input type="text" id="latitude" name="latitude"><br>
        <label for="longitude">Longitude:</label><br>
        <input type="text" id="longitude" name="longitude"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
